.background {
  width: 100%;
  height: 96vh;
  padding: 0%;
  height: 100vh;
  margin: 0%;
  overscroll-behavior-block:auto;
  overflow-y: hidden;
}
.custom-modal .ant-modal-content {
  background-color:#333;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 12rem;
  padding: 0%;
  
}

.custom-modal .ant-modal-header {
  background-color:#333;
}

.custom-modal .ant-modal-footer {
  display: none; 
}

.custom-modal .ant-modal-close {
  display: none; 
}


.contentStyle {
  margin: 0;
  height: 80vh;
  color: #fff;
  
  background: transparent;
  display: flex;
 
  overflow: hidden;
}

.zoomable-image {
  transition: transform 0.5s;

}

.zoomable-image:hover {
  transform: scale(1.2); /* Zoom in on hover */
}


p{
  background-color: transparent;
}
.backgroundImage {
  object-fit: cover;
  width: 100%;
  position: relative;
}
.imageSize {
  width: 35rem;
  height: 28rem;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 20%;
}

.contentStyle {
  margin: 0;
  height: "80vh";
  color: "#fff";

  text-align: "center";
  background: "transparent";
  display: "flex";
  justify-content: "center";
}

@media only screen and (min-width: 325px) and (max-width: 720px) {
  .background {
    height: 100vh;
  }
  .backgroundImage {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .imageSize {
    
    width: 20rem;
    height: 23rem;
    margin-left: 0rem;
    margin-bottom: 5rem;
    margin-top: 8rem;
    border-radius: 10px;
    
  
  }
  .contentStyle {
    margin: 0;
    height: "80vh";
    color: "#fff";
    text-align: "center";
    background: "transparent";
    display: "flex";
    padding:0 10px;
    flex-direction: column;
    
    
    
  }
  
  .imgbig{
    padding:"4rem 1rem 0 2rem ";
    font-size:1.35rem;
    margin-top: 3rem;
    transition: .2s;
    
  }
  .imgsmall{
    padding:"4rem 1rem 0 2rem ";
    font-size: 1.3rem;
    transition: .25s;
    margin-top: 3rem;
    transition: .2s;
  }
  
  .bigp{
    margin-top:1.5rem ;
    font-size:1.1rem;
    padding:1rem 2rem 1rem 1.5rem;
    background-color:#ec4747;
    border-bottom-right-radius:50px;
    transition: .2s;
    
  }
  .smallp{
    margin-top:1.5rem ;
    font-size:1.1rem;
    padding:1rem 2rem 1rem 1.5rem;
    background-color:#ec4747;
    border-bottom-right-radius:50px;
    transition: .2s;
  }
  
}
