.background {
  width: 100%;
  padding: 0%;
  height: 100vh;
  margin: 0%;
  overflow-y: hidden;
}
.backgroundImage {
  object-fit: cover;
  width: 100%;
  position: relative;
}
.imageSize {
  width: 35rem;
  height: 28rem;
  border-radius: 10px;
}

.contentStyle {
  margin: 0;
  height: "80vh";
  color: "#fff";

  text-align: "center";
  background: "transparent";
  display: "flex";
  justify-content: "center";
}

@media only screen and (min-width: 325px) and (max-width: 720px) {
  .background {
    height: 100vh;
  }
  .backgroundImage {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .imageSize {
    box-shadow: 2px 2px 2px rgb(207, 202, 202);
    width: 18rem;
    height: 30rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
    border-radius: 10px;
  }
  .contentStyle {
    margin: 0;
    height: "80vh";
    color: "#fff";
    text-align: "center";
    background: "transparent";
    display: "flex";

    justify-content: "center";
  }
}
